/* Write your code here. */
.main-con {
  background-color: #f1f5f8;
  background-size: cover;
  padding: 20px;
  width: 100vw;
}

.inner-con {
  background-color: #ffffff;
  background-size: cover;
  margin: 30px;
  height: 100vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}

@media screen and (min-width: 768px) {
  .inner-con {
    width: 90%;
    max-width: 1140px;
    padding: 32px;
  }
}

.main-head {
  color: #cb8805;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 46px;
}

.ul-main-con {
  list-style-type: none;
}
